<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="/" class="nav-link link-dark">
        <img src="../../assets/img/love.png">
        Favourite cocktails
      </a>
    </li>
    <li>
      <a routerLink="/favourite-ingredients" class="nav-link link-dark">
        <img src="../../assets/img/like.png">
        Favourite ingredients
      </a>
    </li>
    <li>
      <a routerLink="/cocktails/list" class="nav-link link-dark">
        <img src="../../assets/img/all-rec.png">
        Cocktails
      </a>
    </li>
    <li>
      <a routerLink="/" class="nav-link link-dark">
        <img src="../../assets/img/my-rec.png">
        My cocktails
      </a>
    </li>
    <li>
      <a routerLink="/stop-list" class="nav-link link-dark">
        <img src="../../assets/img/stop.png">
        Stop list
      </a>
    </li>
    <li>
      <a routerLink="/" class="nav-link link-dark">
        <img src="../../assets/img/cart.png">
        Shopping cart
      </a>
    </li>
  </ul>
</div>
